@import "variables";

* {
    margin:0;
    padding:0;
}

body {
    font: {
        size: 18px;
        family: "Barlow", sans-serif;
        weight: 600;
    }
}

// HEADER STYLES
// sets header background and size
header {
    height:100vh;
    display:flex;
    flex-direction:column;
    color: $white;
    position:relative;
    background: {
        image: url(./../images/photos/image-header.jpg);
        size: cover;
        height:100%;
        width: 100%;
        position: center;
    }
}

h1, h2, h3, .more {
    font-family: $fraunces;
}

h1 {
    text-transform: uppercase;
    text-align:center;
    margin-top:5%;
    letter-spacing:0.5vw;
    font-size:50px;
    text-wrap:wrap;
    margin: 0 30px;
}

// navigation bar styling
nav {
    margin:40px 40px 20px 40px;
    display: flex;
    flex-wrap:nowrap;
    align-items:center;
    text-align:center;
    position: relative;
    figure {
        flex:50%;
        display:flex;
        img {
            width : 25vh;
        }
    }
    a.desktop_link {
        flex:10%;
        padding: 0 6px 0 6px;
        text-decoration: none;
        font-weight:lighter;
        color:$white;
        font-size:2vw;
        overflow:hidden;
        &:hover{
            color: rgb(230,230,230);
        }
    }
    #dropdown_menu {
        display:none;
        position:absolute;
        left: 0;
        margin-top: 5%;
        border-radius:5%;
        padding: 5% 0;
        min-width: 100%;
        z-index:15;
        height: 50vh;
        align-content:center;
        justify-content:center;
        flex-direction: column;
        background-color: white;
        &:after {
            content: "";
            position:absolute;
            right: 0;
            top: -7%;
            width: 0;
            height: 0;
            border-left: 9vh solid transparent;
            // border-right: 3vh solid transparent;
            border-bottom: 10vh solid white;
        }
        a {
            text-decoration:none;
            color: $lessDark;
            margin: auto;
            &:last-of-type {
                background-color: $yellow;
                padding : 8px 7px;
            }
            &:hover {
            transform: scale(110%);
        }
        }
    }

    a:last-of-type {
        box-sizing: content-box;
        text-transform: uppercase;
        text-align:center;
        font-weight:bold;
        background-color: $white;
        font-family: $fraunces;
        padding: 8px 5px;
        border-radius:25px;
        color: black;
    }
    a:last-of-type:hover {
        background-color: rgba(255,255,255,0.5);
        color:black;
    }
}

#arrow_down {
    display: flex;
    width: 20vh;
    height: 20vh;
    position:absolute;
    bottom:20%;
    align-self:center;
    justify-content:center;
    img {
        position: absolute;
        height: 100%;
        width: auto;
    }
}

// ADDS STYLES TO MAIN
// Add general layouts to the page sections
.section {
    display:flex;
    overflow:hidden;
    & > * {
        flex:1;
        height:80vh;
        width:50%;
    }
    figure > img {
        width:100%;
        height:100%;
        object-fit:cover;
    }
}

/* Styles the texts*/
.service {
    display:flex;
    flex-direction:column;
    justify-content:center;
    max-height:100%;
    box-sizing: content-box;
    & > * {
        margin: 0 10vh 3vh 10vh;
    }
    h2 {
        font: {
            size:3vw;
            weight:bolder;
        }
    }
    p {
        font-size:2vw;
        color: $greyish;
        font-weight:light;
        display:inline !important;
    }
    .more {
        font-weight:bolder;
        text-transform: uppercase;
        position:relative;
        display: inline-block;
        a {
            text-decoration:none;
            color:black;
        }
        a:hover:before {
            opacity: 1;
        }
        // Adds styling for "Learn more" underlines (thanks google)
        a::before {
            content: " ";
            position: absolute;
            bottom: 0;
            width: 106%;
            height: 40%;
            transform: skew(-12deg) translateX(-3%);
            opacity: 0.5;
            z-index: -1;
        }
    }
}

// Adds underline color to "learn more"
#yellow::before {
    background: $yellow;
}
// Adds underline color to "learn more"
#pink::before {
    background: $softRed;
}

//styles for cherry and orange things
#design, #photography {
    & {
        justify-content: flex-end;
    }
    background: {
        size:cover;
        height:100%;
        width: auto;
        position:center;
    }
    & > * {
        text-align:center;
        vertical-align:bottom;
    }
    h3 {
        font-size:2.5vw;
    }
}

#design {
    background: {
        image: url(./../images/photos/image-graphic-design.jpg);
    }
    & > * {
        color: $designText;
    }
}

#photography {
    background: {
        image: url(./../images/photos/image-photography.jpg);
    }
    & >* {
        color:$photoText;
    }
}

// Styling testimonials
.comments {
    margin: 8% 5%;
    h3 {
        flex:100%;
        display: block;
        font-size:2vw;
        text-transform: uppercase;
        color: $greyish;
        letter-spacing: 0.15rem;
        margin-bottom:5%;
        text-align: center;
    }
}

.testimonials {
    display: flex;
    text-align: center;
    div {
        width: 20%;
        padding: 0 2%;
        flex:1;
        justify-items: center;
        figure {
            width: 7vw;
            height : 7vw;
            display: flex;
            justify-content:center;
            margin-left: 35%;
            img {
                border-radius:50%;
                margin-bottom:2vh;
                width: 100%;
                height: 100%;
            }
        }
        .comment {
            flex:1;
            color : $lessDark;
            margin: 1em;
            font-size:2vw;
            font-weight:light;
        }
        .name {
            font-family: $fraunces;
            font-weight: bold;
            font-size: 1.5vw;
            margin-bottom:1vh;
        }
        .function {
            color : $greyish;
            font-size: 1vw;
        }
    }
}

// Footer styling
// Images banner
.banner {
    display: flex;
    flex-direction: row;
    height: auto;
    width:100%;
    overflow:hidden;
    object-fit:contain;
    & > img {
        width: 25%;
        height:auto;
    }
}

.footer_menu {
    background-color: $footerBackground;
    color: $footerText;
    overflow:hidden;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    a {
        display: inline;
        text-decoration: none;
        color:$footerText;
        padding:  0 10px;
        &:hover {
            color:$white;
        }
    }
}

#footer_logo {
    filter: brightness(0) saturate(100%) invert(43%) sepia(44%) saturate(413%) hue-rotate(118deg) brightness(104%) contrast(87%);
    margin-top:5vh;
    margin-bottom:2vh;
    align-content:center;
}
.contact {
    margin:45px 0 4vw 0;
}

.contact > a > img:hover {
        filter: brightness(0) invert(1);
    }


@media (max-width: $small) {

    .section {
        flex-direction: column;
        margin:0;
        flex-wrap:wrap;
        & > * {
            width : 100%;
        }
        & > figure {
            height: 40vh;
        }
        #egg {
            order:-1;
        }
    }
    .service {
        min-height:60vh;
        text-align:center;
        justify-items: center;
        h2 {
            font-size: 6vw;
        }
        p {
            font-size: 4vw;
        }
        .more {
            align-self: center;
        }
    }
    #design, #photography {
        min-height: 100vh;
        h3 {
            font-size: 6vw;
        }
    }
    .testimonials {
        flex-direction: column;
        div {
            figure {
                width: 10vh;
                height: 10vh;
                margin-top: 5vw;
                margin-left: 40%;
            }
            width: 100%;
            .comment {
                font-size: 5vw;
            }
            .name {
                font-size: 4vw;
            }
            .function {
                font-size: 3vw;
                margin-bottom: 2vh;
            }
        }
    }

    .banner {
        display: flex;
        flex-direction: row;
        height: auto;
        flex-wrap:wrap;
        width:100%;
        & > img {
            flex: 50%;
            width:50%;
            height:auto;
        }
    }
}

@media (min-width: 500px) {
    .smartphone_nav {
        display:none;
    }
}
@media (max-width: 500px) {
    .desktop_nav {
        display : none;
    }
    h1 {
        font-size: 8vw;
    }
}