// Importing fonts
// Barlow
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// Fraunces
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

// Color variables.
$softRed: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$designText: hsl(167, 40%, 24%);
$photoText: hsl(198, 62%, 26%);
$footerBackground : #90D4C6;
$footerText: hsl(168, 34%, 41%);
$veryDark: hsl(212, 27%, 19%);
$lessDark: hsl(213, 9%, 39%);
$evenLessDark: hsl(232, 10%, 55%);
$greyish: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

// Font variable 
$fraunces: "Fraunces", sans-serif;

// Media sizes
$large: 1440px;
$small : 375px;

* {
    margin:0;
    padding:0;
}

body {
    font: {
        size: 18px;
        family: "Barlow", sans-serif;
        weight: 600;
    }
}

// HEADER STYLES
// sets header background and size
header {
    height:100vh;
    display:flex;
    flex-direction:column;
    color: $white;
    position:relative;
    background: {
        image: url(./../images/photos/image-header.jpg);
        size: cover;
        height:100%;
        width: 100%;
        position: center;
    }
}

h1, h2, h3, .more {
    font-family: $fraunces;
}

h1 {
    text-transform: uppercase;
    text-align:center;
    margin-top:5%;
    letter-spacing:0.5vw;
    font-size:5vw;
    text-wrap:wrap;
}

// navigation bar styling
nav {
    margin:40px 40px 20px 40px;
    display: flex;
    flex-wrap:nowrap;
    align-items:center;
    text-align:center;
    position: relative;
    figure {
        flex:50%;
        display:flex;
        img {
            width : 25vh;
        }
    }
    a {
        flex:10%;
        padding: 0 6px 0 6px;
        text-decoration: none;
        font-weight:lighter;
        color:$white;
        font-size:2vw;
        overflow:hidden;
    }

    a:last-of-type {
        box-sizing: content-box;
        text-transform: uppercase;
        text-align:center;
        font-weight:bold;
        background-color: $white;
        font-family: $fraunces;
        padding: 8px 5px;
        border-radius:25px;
        color: black;
    }
    a:last-of-type:hover {
        background-color: rgba(255,255,255,0.5)
    }
}

#arrow_down {
    display: flex;
    width: 20vh;
    height: 20vh;
    position:absolute;
    bottom:30%;
    align-self:center;
    justify-content:center;
    img {
        position: absolute;
        height: 100%;
        width: auto;
    }
}

// ADD STYLES TO MAIN
// Add general layouts to the page sections
.section {
    display:flex;
    overflow:hidden;
    & > * {
        flex:1;
        height:80vh;
        width:50%;
    }
    figure > img {
        width:100%;
        height:100%;
        object-fit:cover;
    }
}

/* Styles the texts*/
.service {
    display:flex;
    flex-direction:column;
    justify-content:center;
    max-height:100%;
    box-sizing: content-box;
    & > * {
        margin: 0 10vh 3vh 10vh;
    }
    h2 {
        font: {
            size:3vw;
            weight:bolder;
        }
    }
    p {
        font-size:2vw;
        color: $greyish;
        font-weight:light;
        display:inline !important;
    }
    .more {
        font-weight:bolder;
        text-transform: uppercase;
        position:relative;
        display: inline-block;
        a {
            text-decoration:none;
            color:black;
        }
        a:hover:before {
            opacity: 1;
        }
        // Adds styling for "Learn more" underlines (thanks google)
        a::before {
            content: " ";
            position: absolute;
            bottom: 0;
            width: 106%;
            height: 40%;
            transform: skew(-12deg) translateX(-3%);
            opacity: 0.5;
            z-index: -1;
            background-color: red;
        }
    }
}

// Adds underline color to "learn more"
#yellow::before {
    background: $yellow;
}
// Adds underline color to "learn more"
#pink::before {
    background: $softRed;
}

//styles for cherry and orange things
#design, #photography {
    & {
        justify-content: flex-end;
    }
    background: {
        size:cover;
        height:100%;
        width: auto;
        position:center;
    }
    & > * {
        text-align:center;
        vertical-align:bottom;
    }
    h3 {
        font-size:2.5vw;
    }
}

#design {
    background: {
        image: url(./../images/photos/image-graphic-design.jpg);
    }
    & > * {
        color: $designText;
    }
}

#photography {
    background: {
        image: url(./../images/photos/image-photography.jpg);
    }
    & >* {
        color:$photoText;
    }
}

// Styling testimonials
.comments {
    margin: 8% 5%;
    h3 {
        flex:100%;
        display: block;
        font-size:2vw;
        text-transform: uppercase;
        color: $greyish;
        letter-spacing: 0.15rem;
        margin-bottom:5%;
        text-align: center;
    }
}

.testimonials {
    display: flex;
    text-align: center;
    div {
        width: 20%;
        padding: 0 2%;
        flex:1;
        justify-items: center;
        figure {
            width: 7vw;
            height : 7vw;
            display: flex;
            justify-content:center;
            margin-left: 35%;
            img {
                border-radius:50%;
                margin-bottom:2vh;
                width: 100%;
                height: 100%;
            }
        }
        .comment {
            flex:1;
            color : $lessDark;
            margin: 1em;
            font-size:2vw;
            font-weight:light;
        }
        .name {
            font-family: $fraunces;
            font-weight: bold;
            font-size: 1.5vw;
            margin-bottom:1vh;
        }
        .function {
            color : $greyish;
            font-size: 1vw;
        }
    }
}

// Footer styling
// Images banner
.banner {
    display: flex;
    flex-direction: row;
    height: auto;
    width:100%;
    overflow:hidden;
    object-fit:contain;
    & > img {
        width: 25%;
        height:auto;
    }
}

.menu {
    background-color: $footerBackground;
    color: $footerText;
    overflow:hidden;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    svg  {
        margin-top:5vh;
        margin-bottom:2vh;
        fill:$footerText;
        align-content:center;
    }
    a {
        display: inline;
        text-decoration: none;
        color:$footerText;
        padding:  0 10px;
        &:hover {
            color:$white;
        }
    }
}

.contact {
    margin:45px 0 4vw 0;
}

.contact > a > img:hover {
        filter: brightness(0) invert(1);
    }


@media (max-width: $small) {
    .desktop_nav {
        display : none;
    }
    .section {
        flex-direction: column;
        margin:0;
        flex-wrap:wrap;
        & > * {
            width : 100%;
        }
        & > figure {
            height: 40vh;
        }
        #egg {
            order:-1;
        }
    }
    .service {
        min-height:60vh;
        text-align:center;
        justify-items: center;
        h2 {
            font-size: 6vw;
        }
        p {
            font-size: 4vw;
        }
        .more {
            align-self: center;
        }
    }
    #design, #photography {
        min-height: 100vh;
        h3 {
            font-size: 6vw;
        }
    }
    .testimonials {
        flex-direction: column;
        div {
            figure {
                width: 10vh;
                height: 10vh;
                margin-top: 5vw;
                margin-left: 40%;
            }
            width: 100%;
            .comment {
                font-size: 5vw;
            }
            .name {
                font-size: 4vw;
            }
            .function {
                font-size: 3vw;
                margin-bottom: 2vh;
            }
        }
    }
    .banner {
        display: flex;
        flex-direction: row;
        height: auto;
        flex-wrap:wrap;
        width:100%;
        & > img {
            flex: 50%;
            width:50%;
            height:auto;
        }
    }
}

@media (min-width: $small) {
    .smartphone_nav {
        display:none;
    }
}